<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Sales">
 	<select id="packageList" resultType="Package">
 		SELECT * FROM PACKAGE
 	</select>
 	
 	<select id="packageDetail" parameterType="Package" resultType="PackageDetail">
 		SELECT P.*,
		    PLO.PLONAME,
		    C.CNAME
		FROM PACKAGE P LEFT OUTER JOIN (SELECT PNUMBER,
		                                LISTAGG(PLONAME, ', ') WITHIN GROUP (ORDER BY PLONAME) "PLONAME"
		                            FROM PACKAGELOCATION
		                            GROUP BY PNUMBER) PLO ON P.PNUMBER = PLO.PNUMBER
		               LEFT OUTER JOIN (SELECT PC.PNUMBER,
		                                LISTAGG(C.CNAME, '; ') WITHIN GROUP (ORDER BY C.CNAME) "CNAME"
		                            FROM PACKAGECATEGORY PC INNER JOIN CATEGORY C ON PC.CNUMBER = C.CNUMBER
		                            GROUP BY PC.PNUMBER) C ON P.PNUMBER = C.PNUMBER
		WHERE P.PNUMBER = #{PNUMBER}
 	</select>
 	
 	<select id="packageSchedule" parameterType="Package" resultType="PackageSchedule">
 		SELECT *
		FROM PACKAGESCHEDULE
		WHERE PNUMBER = #{PNUMBER}
 	</select>
 	
 	<select id="reviewList" parameterType="Package" resultType="ReviewList">
 		SELECT RV.*,
		    M.MNICK
		FROM REVIEW RV INNER JOIN MEMBER M ON RV.MID = M.MID
		WHERE RV.PNUMBER = #{PNUMBER}
 	</select>
 	
 	<select id="pointInfo" parameterType="Member" resultType="Point">
	 	SELECT M.MID,
		    PO.POAMOUNT
		FROM MEMBER M LEFT OUTER JOIN (SELECT MID,
		                                    SUM(POAMOUNT * POSTATE) AS "POAMOUNT"
		                                FROM POINT
		                                GROUP BY MID) PO ON M.MID = PO.MID
		WHERE M.MID = #{MID}
 	</select>
 	
 	<insert id="reviewInsert" parameterType="Review">
 		INSERT INTO REVIEW(PNUMBER, MID, RVSCORE, RVCONTENT, RVDATE)
 		VALUES(#{PNUMBER}, #{MID}, #{RVSCORE}, #{RVCONTENT}, DEFAULT)
 	</insert>
 	
 	<insert id="likeInsert" parameterType="LikeList">
 		INSERT INTO PACKAGELIKE(MID, PNUMBER)
 		VALUES(#{MID}, #{PNUMBER})
 	</insert>
 	
 	<delete id="likeDelete" parameterType="LikeList">
 		DELETE FROM PACKAGELIKE WHERE MID = #{MID} AND PNUMBER = #{PNUMBER}
 	</delete>

 	<insert id="cartInsert" parameterType="CartList">
 		INSERT INTO PACKAGECART(MID, PNUMBER, PSPNUMBER, PSSTART)
 		VALUES(#{MID}, #{PNUMBER}, #{PSPNUMBER}, TO_DATE(#{PSSTART}, 'YYYY-MM-DD HH24:MI:SS'))
 	</insert>
 	
 	<delete id="cartDelete" parameterType="CartList">
 		DELETE FROM PACKAGECART WHERE MID = #{MID} AND PNUMBER = #{PNUMBER} AND PSPNUMBER = #{PSPNUMBER} AND PSSTART = TO_DATE(#{PSSTART}, 'YYYY-MM-DD HH24:MI:SS')
 	</delete>
 	
 	<insert id="insertOrders" parameterType="Orders">
 		INSERT INTO ORDERS(PSSTART, PSPNUMBER, PNUMBER, OSTATE, OINFANT, ODATE, OCHILD, OAMOUNT, OADULT, MID)
		VALUES (TO_DATE(#{PSSTART}, 'YYYY-MM-DD HH24:MI:SS'), #{PSPNUMBER}, #{PNUMBER}, #{OSTATE}, #{OINFANT}, DEFAULT, #{OCHILD}, #{OAMOUNT}, #{OADULT}, #{MID})
 	</insert>
 </mapper>